input,
select,
textarea {
  outline: none;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

textarea {
  resize: none;
}

input:not([type='radio']),
input:not([type='checkbox']),
textarea {
  padding: 0.5rem;
  border: 1px solid #053344;
  &:focus {
    // border-color: #1c62b9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
  }
}
