input,
select,
textarea {
    outline: none;
    font-size: 1rem;
    color: inherit;
}

// textarea {
//     resize: none;
// }

input:not([type='radio']),
input:not([type='checkbox']),
textarea,
select {
    padding: 0.5rem;
    border: 1px solid #aaaaaa;
    border-radius: 3px;

    &:focus {
        box-shadow: inset 0 1px 3px rgba(#053344, 0.3);
        border-color: #053344;
    }
}

.input-checkbox {
    $input-checkbox-size: 18px;

    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: $input-checkbox-size;
    height: $input-checkbox-size;
    margin-top: 0;
    margin-right: 8px;
    margin-left: 00;

    &::after,
    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        cursor: pointer;
        border-radius: 2px;
        line-height: $input-checkbox-size;
    }

    &::after {
        content: '';
        display: block;
        border: 2px solid #7b7b7b;
        border-radius: 2px;
        background-color: #fff;
    }

    &::before {
        content: '✔';
        display: none;
        background-color: #0a63a9;
        color: #fff;
        text-align: center;
        font-size: 0.9rem;
    }

    &:checked {
        &::after {
            display: none;
        }

        &::before {
            display: block;
        }
    }
}

select {
    background-color: #fff;
    padding: 0.3rem 0.8rem;
    border-radius: 3px;
}
